<config>
  <simp host='127.0.0.1' port='5672'
	    user='guest' password='guest' />
  <tsds url='https://localhost/path/to/api'
	user='username' password='password' />
  <collection interval='60' composite-name='interfaces' />
  <hosts workers="1">
    <host>host.name.net</host>
  </hosts>
</config>
