<config workers="1">
  <simp host='127.0.0.1' port='5672'
	    user='guest' password='guest' />
  <tsds url='https://localhost/path/to/api'
	user='username' password='password' />
  <collection interval='60' composite-name='interfaces' />
  <hosts>
    <host ip="10.0.0.1" community="community" node_name="host.name.net" />
  </hosts>
</config>
